@model DepositView
@{
    ViewData["Title"] = "Deposit";
}
<div class="content-wrapper">
    <section class="content-header">
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-5">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"> Deposit BMI</h3>
                        <div class="card-tools ">
                            <a href="#" type="button" class="btn btn-sm btn-default float-right"
                               data-toggle="modal" data-target="#modal-upload">Upload File</a>
                            @*<a href="~/sample/Template.xlsx" type="button" class="btn  btn-sm btn-default float-right mx-1">Download Template</a>*@
                        </div>
                    </div>

                    <div class="card-body">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 10%;font-size:small">
                                        Raw Source
                                    </th>
                                    <th style="width: 10%;font-size:small">
                                        Qty
                                    </th>
                                    <th style="width: 10%;font-size:small">
                                        Amount
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text text-sm" colspan="3" style="font-weight:bold">On The Water</td>
                                </tr>
                                @foreach (var obj in Model.otw)
                                {
                                    <tr>
                                        <td class="text text-sm">@obj.raw_source</td>
                                        <td style="font-size:small">@((obj.total_qty).ToString("0.00")) Kg</td>
                                        <td style="font-size:small">$ @((obj.total_amount).ToString("0.00"))</td>
                                    </tr>
                                }
                                <tr>
                                    <td class="text text-sm" colspan="3" style="font-weight:bold">In Plant</td>
                                </tr>
                                @foreach (var obj in Model.in_plant)
                                {
                                    <tr>
                                        <td class="text text-sm">@obj.raw_source</td>
                                        <td style="font-size:small">@((obj.total_qty).ToString("0.00")) Kg</td>
                                        <td style="font-size:small">$ @((obj.total_amount).ToString("0.00"))</td>
                                    </tr>
                                }
                                <tr>
                                    <td class="text text-sm" colspan="3" style="font-weight:bold">Finished Goods</td>
                                </tr>
                                @foreach (var obj in Model.fg)
                                {
                                    <tr>
                                        <td class="text text-sm">@obj.raw_source</td>
                                        <td style="font-size:small">@((obj.lbs).ToString("0.00")) </td>
                                        <td style="font-size:small">$ @((obj.amount).ToString("0.00"))</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="text text-sm" colspan="2">Total</td>
                                    <td class="text text-sm">$ @ViewBag.amount </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>


        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

<div class="modal fade" id="modal-upload">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Upload File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mb-2">
                <form method="POST" asp-controller="Deposit" asp-action="Import" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="form-group input-file">
                            <label for="exampleInputFile">File input</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="postedFile" id="postedFile" accept=".csv,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}