@model IEnumerable<BMI.Models.ShipmentModel>
@{
    ViewData["Title"] = "Shipment";
}
@{string po = ViewBag.po; }

<div class="content-wrapper">
    <section class="content-header">
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">


            <div class="col-md-12" id="shipment-table">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Shipment @po</h3>
                        <div class="card-tools">
                            <a href="#" type="button" class="btn btn-sm btn-default float-right mx-1"
                               data-toggle="modal" data-target="#modal-upload">
                                <i class="fa fa-upload">
                                </i>
                            </a>
                        </div>
                    </div>

                    <div class="card-body">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 3%;font-size:small">
                                        SAP Code
                                    </th>
                                    <th style="width: 18%;font-size:small">
                                        Description
                                    </th>
                                    <th style="width: 2%;font-size:small">
                                        Qty
                                    </th>
                                    <th style="width: 3%;font-size:small">
                                        Batch
                                    </th>
                                    <th style="width: 1%;font-size:small">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            @if (Model.Count() > 0)
                            {
                                <tbody>
                                    @foreach (var obj in Model)
                                    {
                                        <tr>
                                            <td style="font-size:small" class="btn shipment-item-detail" data-code="@obj.bmi_code" data-po="@po" data-batch="@obj.batch">@obj.MasterBMIModel.sap_code</td>
                                            <td style="font-size:small">@obj.MasterBMIModel.description</td>
                                            <td style="font-size:small">@obj.qty</td>
                                            <td style="font-size:small">@obj.POModelBatch.batch</td>
                                            <td>
                                                <form asp-controller="Shipment" asp-action="Delete" asp-route-po="@po" asp-route-code="@obj.bmi_code" asp-route-batch="@obj.batch" method="post">
                                                    @*<a data-toggle="modal" data-target="#modal-default" data-batch="@obj.batch" data-id="@obj.id_shipment" data-code="@obj.bmi_code" data-lbs="@obj.MasterBMIModel.lbs" class="btn btn-xs btn-warning update-item-shipment">
                                    <i class="fa fa-edit" style="color:ghostwhite;outline:thin"></i>
                                </a>*@
                                                    <button type="submit" onclick="return confirm ('Delete item  @obj.MasterBMIModel.sap_code');" class="btn btn-xs btn-danger">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th style="width: 2%;font-size:small" colspan="2">Total</th>
                                        <th style="width: 2%;font-size:small" > @ViewBag.totalcase</th>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            }
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

                <div class="col-md-5 detail-pdc">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" id="card-title">Detail</h3>
                            <button type="button" class="btn btn-tool float-right close-detail-pdc">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th style="width: 3%;font-size:small">
                                            PDC
                                        </th>
                                        <th style="width: 2%;font-size:small">
                                            Source
                                        </th>
                                        <th style="width: 2%;font-size:small">
                                            Cases
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="table-detail-pdc" name="table-detail-pdc">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th style="width: 2%;font-size:small" colspan="2">Total</th>
                                        <th style="width: 2%;font-size:small" id="total" name="total" class="total"></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>




            
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>


@if (Model.Count() > 0)
{
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModalLabel">Add Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mb-2">
                    <form method="POST" asp-action="Update" asp-controller="Shipment">
                        <div class="card-body">
                            <input type="hidden" asp-for="First().id_shipment" />
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Production Date</label>
                                        <div class="form-group pdc">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" id="aaa">
                                                <label for="aaa" class="custom-control-label">12-12-20 - HS20_B14 - MTW</label>
                                                <input type="number" class="form-control-sm" id="qty" name="qty">
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" id="bbb">
                                                <label for="bbb" class="custom-control-label">12-12-20 - HS20_B14 - MTW</label>
                                                <input type="number" class="form-control-sm" id="qty" name="qty">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" value="Create" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="modal-upload">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Upload File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mb-2">
                <form method="POST" asp-controller="Shipment" asp-action="Import" enctype="multipart/form-data">
                    <div class="card-body">
                        <input type="hidden" id="po" name="po" value="@po">
                        <div class="form-group input-file">
                            <label for="exampleInputFile">File input</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="postedFile" id="postedFile" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required>
                                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}