@model IEnumerable<BMI.Models.POModel>
@{string status = ViewBag.status; }
@{
    ViewData["Title"] = "Shipment";
}
<div class="content-wrapper">
    <section class="content-header">
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Shipment List</h3>
                        <div class="card-tools">
                            <ul class="nav nav-pills">
                                @if (status == "Open")
                                {
                                    <li class="nav-item"><a class="nav-link active" asp-controller="Shipment" asp-action="Index" asp-route-plant="3700" asp-route-status="Open">Open</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="Shipment" asp-action="Index" asp-route-plant="3700" asp-route-status="Closed">Closed</a></li>
                                }
                                else
                                {
                                    <li class="nav-item"><a class="nav-link" asp-controller="Shipment" asp-action="Index" asp-route-plant="3700" asp-route-status="Open">Open</a></li>
                                    <li class="nav-item"><a class="nav-link active" asp-controller="Shipment" asp-action="Index" asp-route-plant="3700" asp-route-status="Closed">Closed</a></li>
                                }

                            </ul>
                        </div>
                    </div>

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 3%;font-size:small">
                                        PO
                                    </th>
                                    <th style="width: 3%;font-size:small">
                                        No
                                    </th>
                                    <th style="width: 5%;font-size:small">
                                        ETD
                                    </th>
                                    <th style="width: 5%;font-size:small">
                                        ETA
                                    </th>
                                    <th style="width: 8%;font-size:small">
                                        Container
                                    </th>
                                    <th style="width: 8%;font-size:small">
                                        Vessel
                                    </th>
                                    <th style="width: 15%;font-size:small">
                                        Destination
                                    </th>
                                    <th style="width: 3%;font-size:small">
                                        Status
                                    </th>
                                    <th style="width: 3%;font-size:small">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            @if (Model.Count() > 0)
                            {
                                <tbody>
                                    @foreach (var obj in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a style="font-size:small;color:black" asp-controller="Shipment" asp-action="Detail" asp-route-po="@obj.po" asp-route-no="@obj.shipment_no">
                                                    @Html.DisplayFor(modelItem => obj.po)
                                                </a>
                                            </td>
                                            <td style="font-size:small">@obj.shipment_no</td>
                                            <td style="font-size:small">@Html.DisplayFor(modelItem => obj.etd)</td>
                                            <td style="font-size:small">@Html.DisplayFor(modelItem => obj.eta)</td>
                                            <td style="font-size:small">@obj.container</td>
                                            <td style="font-size:small">@obj.vessel_name</td>
                                            <td style="font-size:small">@obj.destination</td>
                                            <td style="font-size:small">@obj.po_status</td>
                                            <td>
                                                <form asp-controller="Shipment" asp-route-id="@obj.po" asp-action="Delete" method="post">
                                                    <a data-toggle="modal" data-target="#modal-default" data-po="@obj.po" class="btn btn-xs btn-warning update-shipment">
                                                        <i class="fa fa-edit" style="color:ghostwhite;outline:thin">
                                                        </i>
                                                    </a>
                                                    @*<button type="submit" onclick="return confirm ('Delete Shipment No @obj.po');" class="btn btn-xs btn-danger">
                                                            <i class="fa fa-trash">
                                                            </i>
                                                        </button>*@
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

@if (Model.Count() > 0)
{
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModalLabel">Add Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mb-2">
                    <form method="POST" asp-action="Update" asp-controller="Shipment">
                        <div class="card-body">
                            <input type="hidden" asp-for="First().updated_at" value="@DateTime.Now" />
                            <input type="hidden" asp-for="First().po" />
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label shipment-no-label">Shipment No</label>
                                <input type="number" class="col-sm-9 form-control shipment-no" asp-for="First().shipment_no"
                                       placeholder="Shipment Number">
                                <span asp-validation-for="First().shipment_no" class="text-danger" style="font-size:smaller"> </span>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">ETD</label>
                                <input type="date" class="col-sm-9 form-control" asp-for="First().etd" value="@DateTime.Now">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">ETA</label>
                                <input type="date" class="col-sm-9 form-control" asp-for="First().eta" value="@DateTime.Now">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">Doc Date</label>
                                <input type="date" class="col-sm-9 form-control" asp-for="First().document_date" value="@DateTime.Now">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">Carrier</label>
                                <input type="text" class="col-sm-9 form-control" asp-for="First().ocean_carrier" placeholder="Ocean Carrier">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">Container</label>
                                <input type="text" class="col-sm-9 form-control" asp-for="First().container" placeholder="Container">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">Voyage</label>
                                <input type="text" class="col-sm-9 form-control" asp-for="First().voyage_no" placeholder="Voyage">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">BoL</label>
                                <input type="text" class="col-sm-9 form-control" asp-for="First().house_bol" placeholder="Bill of Lading">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">Vessel</label>
                                <input type="text" class="col-sm-9 form-control" asp-for="First().vessel_name" placeholder="Vessel Name">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">INV No</label>
                                <input type="text" class="col-sm-9 form-control" asp-for="First().inv_no" placeholder="Invoice No">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">FDA No</label>
                                <input type="text" class="col-sm-9 form-control" asp-for="First().fda_no" placeholder="FDA No">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">Seal No</label>
                                <input type="text" class="col-sm-9 form-control" asp-for="First().seal_no" placeholder="Seal">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">Destination</label>
                                <select class="col-sm-9 form-control" asp-for="First().destination">
                                    <option>1700: Anova</option>
                                    <option>1705: Americold Fogelsville</option>
                                    <option>1710: Lineage Logistic, LLC LA</option>
                                    <option>1720: Los Angeles Cold Storage</option>
                                    <option>1730: Preferred Atlanta</option>
                                    <option>1750: Lineage Cold Storage</option>
                                    <option>1760: Hall's</option>
                                    <option>1770: Preferred Perth Amboy</option>
                                    <option>1780: Preferred Miami</option>
                                    <option>1780: Preferred Long Beach Fwy</option>
                                    <option>1782: Preferred Elizabeth</option>
                                    <option>1782: Preferred Woodbridge</option>
                                    <option>1782: Preferred Chicago</option>
                                    <option>1790: Lineage Cold Storage</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">Status</label>
                                <select class="col-sm-9 form-control" asp-for="First().po_status">
                                    <option>Open</option>
                                    <option>Closed</option>
                                </select>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" value="Create" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}