@model IEnumerable<BMI.Models.RmDetailModel>
@{string raw_source = ViewBag.raw_source; }
@{
    ViewData["Title"] = raw_source;
}
<div class="content-wrapper">
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Detail List of @raw_source</h3>
                    </div>

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 6%;font-size:small">
                                        Item Code
                                    </th>
                                    <th style="width: 6%;font-size:small">
                                        Descriptions
                                    </th>
                                    <th style="width: 6%;font-size:small">
                                        Site
                                    </th>
                                    <th style="width: 5%;font-size:small">
                                        USD Price
                                    </th>
                                    <th style="width: 5%;font-size:small">
                                        Ex Rate
                                    </th>
                                    <th style="width: 5%;font-size:small">
                                        Qty PL
                                    </th>
                                    <th style="width: 5%;font-size:small">
                                        Qty Received
                                    </th>
                                    <th style="width: 3%;font-size:small">
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                             @foreach (var obj in Model)
                             {
                                <tr>
                                    <td style="font-size:small">@obj.sap_code</td>
                                    <td style="font-size:small">@obj.Masterdatamodel.description</td>
                                    <td style="font-size:small">@obj.landing_site</td>
                                    <td style="font-size:small">$@obj.usd_price</td>
                                    <td style="font-size:small">Rp.@obj.ex_rate</td>
                                    <td style="font-size:small">@obj.qty_pl</td>
                                    <td style="font-size:small">@obj.qty_received</td>
                                    <td>
                                        <form asp-controller="Rm" asp-action="Deleteitem" asp-route-id="@obj.id_raw" asp-route-raw_source="@obj.raw_source" method="post" class="d-inline">
                                            <a href="#" class="btn btn-xs btn-info change-item-detail"
                                               data-toggle="modal" data-target="#modal-default" data-id="@obj.id_raw">
                                                <i class="fa fa-edit" style="color:ghostwhite;outline:thin"></i>
                                            </a>
                                            <a href="#" class="btn btn-xs btn-warning destroy-raw"
                                               data-toggle="modal" data-target="#modal-destroy" data-id="@obj.id_raw">
                                                <i class="fa fa-times" style="color:ghostwhite;outline:thin"></i>
                                            </a>
                                            <button type="submit" onclick="return confirm ('Delete Item @obj.sap_code' );" class="btn btn-xs btn-danger">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </form>
                                        </td>
                                 </tr>
                             }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
</div>



<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Add New Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" asp-controller="Rm" asp-action="Updatedetail" class="form-horizontal">
                    <div class="card-body">
                        <input type="hidden" asp-for="First().id_raw">
                        <div class="form-group row">
                            <label asp-for="First().sap_code" class="col-sm-3  col-form-label"></label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="Item Code" class="form-control" asp-for="First().sap_code">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="First().landing_site" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="Landing Site" class="form-control" asp-for="First().landing_site">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="First().usd_price" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input type="number" step="any" placeholder="USD Price" class="form-control" asp-for="First().usd_price">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="First().ex_rate" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input type="number" step="any" class="form-control" placeholder="IDR Rate" asp-for="First().ex_rate">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="First().qty_pl" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input type="number" step="any" class="form-control" placeholder="Packing List" asp-for="First().qty_pl">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="First().qty_received" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input type="number" step="any" class="form-control" placeholder="Qty Received" asp-for="First().qty_received">
                            </div>
                        </div>
                        <input type="hidden" asp-for="First().raw_source">
                        <input type="hidden" asp-for="First().cases">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="submit" class="btn btn-warning duplicate-item">Duplicate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

<div class="modal fade" id="modal-destroy">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Destroy Material</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" asp-controller="Rm" asp-action="Adddestroy" class="form-horizontal">
                    <div class="card-body">
                        <input type="hidden" asp-for="First().sap_code">
                        <input type="hidden" asp-for="First().raw_source">
                        <input type="hidden" id="status" name="status" value="destroy">
                        <div class="form-group">
                            <label>Qty</label>
                            <div>
                                <input type="number" step="any" placeholder="Qty" class="form-control" asp-for="First().qty">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Reason</label>
                            <div>
                                <input type="text" step="any" placeholder="Please Input Reason" class="form-control" asp-for="First().reason">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Destroy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
