@model IEnumerable<BMI.Models.Rmmodel>
@{string status = ViewBag.status; }
@{
    ViewData["Title"] = status;
}

<div class="content-wrapper">
    <section class="content-header">
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">@status Container</h5>
                        @if (status == "On The Water") {
                        <div class="card-tools">
                            <a href="#" type="button" class="btn btn-sm btn-default float-right upload-file"
                               data-toggle="modal" data-target="#modal-upload">Upload File</a>
                            <a href="~/sample/Template.xlsx" type="button" class="btn  btn-sm btn-default float-right mx-1">Download Template</a>
                        </div>
                        }
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 4%;font-size:small">
                                        Refference
                                    </th>
                                    <th style="width: 4%;font-size:small">
                                        Container
                                    </th>
                                    <th style="width: 4%;font-size:small">
                                        ETD
                                    </th>
                                    <th style="width: 4%;font-size:small">
                                        ETA
                                    </th>
                                    <th style="width: 4%;font-size:small">
                                        Status
                                    </th>
                                    <th style="width: 4%;font-size:small">
                                        Last Saved
                                    </th>
                                    <th style="width: 3%;font-size:small">
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            @if (Model.Count() > 0)
                            {
                                <tbody>
                                    @foreach (var obj in Model)
                                    {
                                    <tr>
                                        <td>
                                            <a style="font-size:small;color:black" asp-controller="Rm" asp-action="Detail" asp-route-reff="@obj.reff">
                                                @Html.DisplayFor(modelItem => obj.reff)
                                            </a>
                                        </td>
                                        <td style="font-size:small">@Html.DisplayFor(modelItem => obj.container)</td>
                                        <td style="font-size:small">@Html.DisplayFor(modelItem => obj.etd)</td>
                                        <td style="font-size:small">@Html.DisplayFor(modelItem => obj.eta)</td>
                                        <td style="font-size:small">@status</td>
                                        <td style="font-size:small">@Html.DisplayFor(modelItem => obj.saved)</td>
                                        <td>
                                            <form asp-controller="Rm" asp-action="Delete" asp-route-reff="@obj.reff" asp-route-status="@obj.status" method="post">
                                            <a style="font-size:small" class="btn btn-xs btn-warning change-container"
                                                    data-toggle="modal" data-target="#modal-default" data-id="@obj.id_raw">
                                                <i class="fa fa-edit" style="color:ghostwhite;outline:thin"></i>
                                            </a>
                                            <button type="submit" onclick="return confirm ('Delete Refference @obj.reff');" class="btn btn-xs btn-danger">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                            </form>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>


@if (Model.Count() > 0)
{
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModalLabel">Edit Refference</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mb-2">
                    <form method="POST" asp-controller="Rm" asp-action="Update">
                        <div class="card-body">
                            @*<input type="hidden" class="form-control " asp-for="First().id_raw">*@
                            <div class="form-group">
                                <label asp-for="First().etd"></label>
                                <input type="date" class="form-control" asp-for="First().etd">
                            </div>
                            <div class="form-group">
                                <label asp-for="First().eta"></label>
                                <input type="date" class="form-control" asp-for="First().eta">
                            </div>
                            <div class="form-group">
                                <label asp-for="First().container"></label>
                                <input type="text" placeholder="Container" class="form-control" asp-for="First().container">
                            </div>
                            <input type="hidden" class="form-control " asp-for="First().reff">
                            <div class="form-group">
                                <label asp-for="First().status"></label>
                                <select class="form-control" asp-for="First().status">
                                    <option>In Plant</option>
                                    <option>On The Water</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
}
<div class="modal fade" id="modal-upload">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Upload File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mb-2">
                <form method="POST" asp-controller="Rm" asp-action="Import" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="form-group input-file">
                            <label for="exampleInputFile">File input</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="postedFile" id="postedFile" accept=".csv,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>