@model MultipleViewAuthorize
@{
    ViewData["Title"] = "Role Manager";
}
<div class="content-wrapper">
    <section class="content-header">
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">



            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">User</h3>
                        <div class="card-tools ">
                            <a href="/Account/Register" class="btn btn-sm float-right mx-1">
                                <i class="fa fa-plus">
                                </i>
                            </a>
                        </div>
                    </div>

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 20%;font-size:small">
                                        Email
                                    </th>
                                    <th style="width: 5%;font-size:small">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var obj in Model.users)
                                {
                                    <tr>
                                        <td style="font-size:small">@obj.Email </td>
                                        <td>
                                            <form asp-controller="Account" asp-route-id="@obj.Id" asp-action="DeleteUser" method="post">
                                                <a data-toggle="modal" data-target="#modal-default" data-id="@obj.Id" class="btn btn-xs btn-warning update-role">
                                                    <i class="fa fa-lock" style="color:whitesmoke;outline:thin">
                                                    </i>
                                                </a>
                                                <button type="submit" onclick="return confirm ('Delete User @obj.UserName');" class="btn btn-xs btn-danger">
                                                    <i class="fa fa-trash">
                                                    </i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>




            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Role Model</h3>
                        <div class="card-tools ">
                            <button class="btn btn-sm float-right mx-1 add-new-role"
                                    data-toggle="modal" data-target="#modal-default">
                                <i class="fa fa-plus">
                                </i>
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <table id="example3" class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 20%;font-size:small">
                                        Name
                                    </th>
                                    <th style="width: 5%;font-size:small">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var obj in Model.roles)
                                {
                                    <tr>
                                        <td style="font-size:small">@obj.Name </td>
                                        <td>
                                            <form asp-controller="Administration" asp-route-id="@obj.Id" asp-action="DeleteRole" method="post">
                                                <a data-toggle="modal" data-target="#modal-default" data-id="@obj.Id" class="btn btn-xs btn-warning update-role">
                                                    <i class="fa fa-edit" style="color:whitesmoke;outline:thin">
                                                    </i>
                                                </a>
                                                <a asp-action="GetUserRole" asp-controller="Administration" asp-route-id="@obj.Id" asp-route-name="@obj.Name" class="btn btn-xs btn-primary">
                                                    <i class="fa fa-users" style="color:whitesmoke;outline:thin">
                                                    </i>
                                                </a>
                                                <button type="submit" onclick="return confirm ('Delete Role @obj.Name');" class="btn btn-xs btn-danger">
                                                    <i class="fa fa-trash">
                                                    </i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>




        </div>
        <!-- /.row -->
    </section>
</div>


<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Add New Role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mb-2">
                <form method="POST" asp-controller="Administration" asp-action="CreateRole">
                    <div class="card-body">
                        <input type="hidden" class="form-control" id="Id" name="Id">
                        <div class="form-group RoleName">
                            <label> Name</label>
                            <input type="text" class="form-control RoleName" id="RoleName" name="RoleName"
                                   placeholder="Role Name">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" value="Create" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal-user">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Add New User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mb-2">
                <form asp-controller="Account" asp-action="Register" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="register.UserName" type="text" class="form-control" placeholder="User Name">
                        <span asp-validation-for="register.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="register.Email" type="email" class="form-control" placeholder="Email">
                        <span asp-validation-for="register.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="register.Department" class="form-control" placeholder="Email">
                        <span asp-validation-for="register.Department" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="register.Position" class="form-control" placeholder="Email">
                        <span asp-validation-for="register.Position" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="register.Password" type="password" class="form-control" placeholder="Password">
                        <span asp-validation-for="register.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="register.ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">
                        <span asp-validation-for="register.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary float-right" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}