@model ProductionView
@{string pt = ViewBag.pt; }
@{string po = ViewBag.po; }
@{
    ViewData["Title"] = "PT " + pt;
}

<div class="content-wrapper">
    <section class="content-header">
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12" id="master-pt-table">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">PT# @pt</h3>
                            <a class="float-right">@ViewBag.yield %</a>
                        </div>

                        <div class="card-body">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th style="width: 2%;font-size:small">
                                            SAP Code
                                        </th>
                                        <th style="width: 15%;font-size:small">
                                            Description
                                        </th>
                                        <th style="width: 1%;font-size:small">
                                            Total Lbs
                                        </th>
                                        <th style="width: 1%;font-size:small">
                                            Total CS
                                        </th>
                                    </tr>
                                </thead>
                                @if (Model.ProductionOutputModel.Count() > 0)
                                {
                                    <tbody>
                                        @foreach (var obj in Model.ProductionOutputModel)
                                        {
                                            <tr>
                                                <td style="font-size:small" id="sumdaily" name="sumdaily" class="btn detail-pt-daily" data-pt="@pt" data-sap="@obj.MasterBMIModel.sap_code" data-bmicode="@obj.bmi_code" data-source="@obj.raw_source" >@obj.MasterBMIModel.sap_code</td>
                                                <td style="font-size:small">@obj.MasterBMIModel.description</td>
                                                <td style="font-size:small" class="btn adjustment-fg" data-toggle="modal" data-target="#modal-default" data-pt="@pt" data-code="@obj.bmi_code" >@((obj.qty_production * 2.204).ToString("0.00"))</td>
                                                <td style="font-size:small" class="repack-fg" data-toggle="modal" data-target="#modal-default" data-pt="@pt" data-code="@obj.bmi_code" data-sap="@obj.MasterBMIModel.sap_code"> @Convert.ToInt32(((obj.qty_production * 2.204) / obj.MasterBMIModel.lbs))</td>
                                            </tr>
                                        }
                                    </tbody>
                                }
                                <tfoot>
                                    <tr>
                                        <th style="width: 2%;font-size:small" colspan="2">Total</th>
                                        <th style="width: 2%;font-size:small">@(ViewBag.totaloutput)</th>
                                        <th style="width: 2%;font-size:small"></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

                @*modal production*@
                <div class="modal fade" id="modal-default">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="formModalLabel">Rounded Item</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body mb-2">
                                <form method="POST" asp-controller="Production" asp-action="Adjustment">
                                    <div class="card-body">
                                        <input type="hidden" class="form-control" id="po" name="po" value="@po">
                                        <input type="hidden" class="form-control" id="bmi_code" name="bmi_code">
                                        <div class="form-group row po">
                                            <label class="col-sm-4 col-form-label">BMI PO</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" type="number" asp-for="po_bmi" />
                                                <span asp-validation-for="po_bmi" class="text-danger" style="font-size:smaller"> </span>
                                            </div>
                                        </div>
                                        <div class="form-group row date">
                                            <label class="col-sm-4 col-form-label">Packing Date</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" type="date" asp-for="date" />
                                                <span asp-validation-for="date" class="text-danger" style="font-size:smaller"> </span>
                                            </div>
                                        </div>
                                        <div class="form-group row production-date">
                                            <label class="col-sm-4">Production Date</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" asp-for="production_date">
                                                </select>
                                                <span asp-validation-for="production_date" class="text-danger" style="font-size:smaller"> </span>
                                            </div>
                                        </div>
                                        <div class="form-group row raw-source">
                                            <label class="col-sm-4">Raw Source</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" asp-for="raw_source">
                                                </select>
                                                <span asp-validation-for="raw_source" class="text-danger" style="font-size:smaller"> </span>
                                            </div>
                                        </div>
                                        <div class="form-group row landing-site-input">
                                            <label class="col-sm-4">Landing Site</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" asp-for="landing_site">
                                                </select>
                                                <span asp-validation-for="landing_site" class="text-danger" style="font-size:smaller"> </span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Input Qty</label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control" asp-for="qty"
                                                       placeholder="Masukan Jumlah Qty">
                                                <span asp-validation-for="qty" class="text-danger" style="font-size:smaller"> </span>
                                            </div>
                                        </div>
                                        <div class="form-group row destination-code">
                                            <label class="col-sm-4">To Product</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" asp-for="to_bmi_code"
                                                       placeholder="Masukan Code BMI Tujuan">
                                                <span asp-validation-for="to_bmi_code" class="text-danger" style="font-size:smaller"> </span>
                                            </div>
                                        </div>
                                        <div class="form-group row destination-pt">
                                            <label class="col-sm-4">Destination PT</label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control" asp-for="destination_pt"
                                                       placeholder="Masukan no PT Tujuan">
                                                <span asp-validation-for="destination_pt" class="text-danger" style="font-size:smaller"> </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" value="Create" class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>



                @*production daily*@
                <div class="col-md-5 table-production-daily">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" id="card-title">Detail</h3>
                            <button type="button" class="btn btn-tool float-right close-production-daily">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th style="width: 3%;font-size:small">
                                            Date
                                        </th>
                                        <th style="width: 2%;font-size:small">
                                            Source
                                        </th>
                                        <th style="width: 2%;font-size:small">
                                            Cases
                                        </th>
                                        <th style="width: 1%;font-size:small">
                                            Available CS
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="detail-table-daily" name="detail-table-daily">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th style="width: 2%;font-size:small" colspan="2">Total</th>
                                        <th style="width: 2%;font-size:small" id="totalcase" name="totalcase" class="totalcase"></th>
                                        <th style="width: 2%;font-size:small" id="totalavailable" name="totalavailable" class="totalavailable"></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



            @* production input *@
            <div class="row">
                <div class="col-md-7" id="master-pt-table">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" id="card-title">Raw Material</h3>
                        </div>

                        <div class="card-body">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th style="width: 2%;font-size:small">
                                            Source
                                        </th>
                                        <th style="width: 2%;font-size:small">
                                            Code
                                        </th>
                                        <th style="width: 15%;font-size:small">
                                            Description
                                        </th>
                                        <th style="width: 1%;font-size:small">
                                            Total KG
                                        </th>
                                        <th style="width: 1%;font-size:small">
                                            Total Lbs
                                        </th>
                                    </tr>
                                </thead>
                                @if (Model.ProductionInputModel.Count() > 0)
                                {
                                    <tbody>
                                        @foreach (var obj in Model.ProductionInputModel)
                                        {
                                            <tr>
                                                <td style="font-size:small">@obj.raw_source</td>
                                                <td style="font-size:small">@obj.sap_code</td>
                                                <td style="font-size:small">@obj.Masterdatamodel.description</td>
                                                <td style="font-size:small">@obj.qty.ToString("0.00")</td>
                                                <td style="font-size:small">@((obj.qty * 2.204).ToString("0.00"))</td>
                                            </tr>
                                        }
                                    </tbody>
                                }
                                <tfoot>
                                    <tr>
                                        <th style="width: 2%;font-size:small" colspan="3">Total</th>
                                        <th style="width: 2%;font-size:small">@(ViewBag.totalinputkg)</th>
                                        <th style="width: 2%;font-size:small">@(ViewBag.totalinputlbs)</th>
                                    </tr>
                                </tfoot>

                            </table>
                        </div>
                    </div>
                </div>


                @*report*@
                <div class="col-md-5 report-category">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" id="card-title">Category</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;font-size:small">
                                            Category
                                        </th>
                                        <th style="width: 1%;font-size:small">
                                            Total Lbs
                                        </th>
                                        <th style="width: 1%;font-size:small">
                                            Yield
                                        </th>
                                    </tr>
                                </thead>
                                @if (Model.CategoryView.Count() > 0)
                                {
                                    <tbody id="detail-table-daily" name="detail-table-daily" class="table-sm">
                                        @foreach (var obj in Model.CategoryView)
                                        {
                                            <tr>
                                                <td style="font-size:small">@obj.category</td>
                                                <td style="font-size:small">@((obj.qty).ToString("0.00"))</td>
                                                <td style="font-size:small">@((obj.yield *100).ToString("0.00")) %</td>
                                            </tr>

                                        }
                                    </tbody>
                                }
                                <tfoot>
                                    <tr>
                                        <th style="width: 2%;font-size:small" colspan="1">Total</th>
                                        <th style="width: 2%;font-size:small">@(ViewBag.totaloutput)</th>
                                        <th style="width: 2%;font-size:small">100%</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </section>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}