@model IEnumerable<BMI.Models.POModel>
@{
    ViewData["Title"] = "Production";
}
<div class="content-wrapper">
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">

                            <form method="get" asp-action="Daily" asp-controller="Production">
                                <div class="input-group input-group-sm">
                                    <input type="date" asp-for="First().date">
                                    <span class="input-group-append">
                                        <button type="submit" value="Create" class="btn btn-primary">Go!</button>
                                    </span>
                                    <span asp-validation-for="First().date" class="text-danger" style="font-size:smaller"></span>
                                </div>
                            </form>

                        </div>

                        <div class="card-tools">
                            <a href="Production/History" class="btn btn-sm btn-default upload-gr float-right mx-2">
                                <i class="fa fa-history"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card">

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 4%">
                                        PT
                                    </th>
                                    <th style="width: 4%">
                                        PO
                                    </th>
                                    <th style="width: 4%">
                                        Batch
                                    </th>
                                    <th style="width: 4%">
                                        Status
                                    </th>
                                    <th style="width: 4%">
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var obj in Model)
                                {

                                    <tr>
                                        <td>
                                            <a  style="font-size:smaller;color:black" asp-controller="Production" asp-action="Detail" asp-route-pt="@obj.pt">@obj.pt</a>
                                        </td>
                                        <td style="font-size:smaller">@obj.po</td>
                                        <td style="font-size:smaller">@obj.batch</td>
                                        <td style="font-size:smaller">@obj.pt_status</td>
                                        <td>
                                            <a style="font-size:small" class="btn btn-xs btn-warning change-pt"
                                               data-toggle="modal" data-target="#modal-edit" data-po="@obj.po">
                                                <i class="fa fa-edit" style="color:ghostwhite;outline:thin"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>





<div class="modal fade" id="modal-edit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Edit Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mb-2">
                <form method="POST" asp-controller="Production" asp-action="Updatept">
                    <div class="card-body">
                        <input type="hidden" class="form-control " asp-for="First().po">
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" asp-for="First().pt_status">
                                <option>Open</option>
                                <option>Closed</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @*/.modal-content*@
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}