@model IEnumerable<BMI.UtilityModels.RefferenceView>
@{int line = ViewBag.line; }
@{
    ViewData["Title"] = line;
}
<div class="content-wrapper">
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"> Line @line</h3>
                        @*<div class="card-tools ">
                            <button class="btn btn-sm float-right mx-1 add-new-fg"
                                    data-toggle="modal" data-target="#modal-default">
                                <i class="fa fa-plus">
                                </i>
                            </button>
                        </div>*@
                    </div>

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 10%;font-size:small">
                                        Refference
                                    </th>
                                    <th style="width: 23%;font-size:small">
                                        Input (Kg)
                                    </th>
                                    <th style="width: 5%;font-size:small">
                                        Output (Kg)
                                    </th>
                                    <th style="width: 8%;font-size:small">
                                        Yield (%)
                                    </th>
                                    <th style="width: 3%;font-size:small">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var obj in Model)
                                {
                                    <tr>
                                        <td class="text text-sm"><a style="color:black" asp-controller="Processing" asp-action="Refference" asp-route-reff="@obj.Refference" asp-route-id="@obj.Id">@obj.Refference</a> </td>
                                        <td class="text text-sm">@obj.Input</td>
                                        <td class="text text-sm">@obj.Output</td>
                                        <td class="text text-sm">@obj.Yield</td>
                                        <td>
                                            <form asp-controller="Fg" asp-route-id="@obj.Refference"  asp-action="Delete" method="post">
                                                <a data-toggle="modal" data-target="#modal-default" data-id="@obj.Refference" class="btn btn-xs btn-warning update-fg">
                                                    <i class="fa fa-edit" style="color:whitesmoke;outline:thin">
                                                    </i>
                                                </a>
                                                <button type="submit" onclick="return confirm ('Delete Item @obj.Refference');" class="btn btn-xs btn-danger">
                                                    <i class="fa fa-trash">
                                                    </i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>


<!--<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Add Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mb-2">
                <form method="POST" asp-action="Create">
                    <div class="card-body">
                        <input type="hidden" class="form-control" id="id_fg" name="id_fg">
                        <div class="form-group">
                            <label asp-for="First().sap_code"></label>
                            <input type="number" class="form-control" asp-for="First().sap_code"
                                   placeholder="SAP Code">
                            <span asp-validation-for="First().sap_code" class="text-danger" style="font-size:smaller"> </span>
                        </div>
                        <div class="form-group">
                            <label asp-for="First().price_lbs"></label>
                            <input type="number" step="any" class="form-control" asp-for="First().price_lbs"
                                   placeholder="Price LBS">
                            <span asp-validation-for="First().price_lbs" class="text-danger" style="font-size:smaller"> </span>
                        </div>
                        <input type="hidden" class="form-control" asp-for="First().plant" value="">
                        <div class="form-group">
                            <label asp-for="First().std_price"></label>
                            <input type="number" step="any" class="form-control" asp-for="First().std_price"
                                   placeholder="Standard Price">
                            <span asp-validation-for="First().std_price" class="text-danger" style="font-size:smaller"> </span>
                        </div>
                        <div class="form-group">
                            <label asp-for="First().processing_fee"></label>
                            <input type="number" step="any" class="form-control" asp-for="First().processing_fee"
                                   placeholder="Processing Fee">
                            <span asp-validation-for="First().processing_fee" class="text-danger" style="font-size:smaller"> </span>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" value="Create" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>-->
    <!-- /.modal-content -->
<!--</div>-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}