@model BMI.UtilityModels.RangeView
@{
    ViewData["Title"] = ViewBag.Vessel ;
}
<div class="content-wrapper">
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@ViewBag.Date - @ViewBag.Vessel</h3>
                        <div class="card-tools ">
                            <button class="btn btn-sm float-right mx-1"
                                    data-toggle="modal" data-target="#modal-default">
                                <i class="fa fa-upload">
                                </i>
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 10%;font-size:small">
                                        Item
                                    </th>
                                    <th style="width: 23%;font-size:small">
                                        Description
                                    </th>
                                    <th style="width: 5%;font-size:small">
                                        Qty
                                    </th>
                                    <th style="width: 3%;font-size:small">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>< = 10</td>
                                    <td>@Model.A.sum</td>
                                    <td>@Model.A.count</td>
                                    <td>
                                        <form asp-controller="Fg" asp-route-id="" asp-action="Delete" method="post">
                                            <a data-toggle="modal" data-target="#modal-default" data-id="" class="btn btn-xs btn-warning update-fg">
                                                <i class="fa fa-edit" style="color:whitesmoke;outline:thin">
                                                </i>
                                            </a>
                                            <button type="submit" onclick="return confirm ('Delete Item');" class="btn btn-xs btn-danger">
                                                <i class="fa fa-trash">
                                                </i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td> > = 10 && <= 15 </td>
                                    <td>@Model.B.sum</td>
                                    <td>@Model.B.count</td>
                                    <td>
                                        <form asp-controller="Fg" asp-route-id="" asp-action="Delete" method="post">
                                            <a data-toggle="modal" data-target="#modal-default" data-id="" class="btn btn-xs btn-warning update-fg">
                                                <i class="fa fa-edit" style="color:whitesmoke;outline:thin">
                                                </i>
                                            </a>
                                            <button type="submit" onclick="return confirm ('Delete Item');" class="btn btn-xs btn-danger">
                                                <i class="fa fa-trash">
                                                </i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td> >= 15 </td>
                                    <td>@Model.C.sum</td>
                                    <td>@Model.C.count</td>
                                    <td>
                                        <form asp-controller="Fg" asp-route-id="" asp-action="Delete" method="post">
                                            <a data-toggle="modal" data-target="#modal-default" data-id="" class="btn btn-xs btn-warning update-fg">
                                                <i class="fa fa-edit" style="color:whitesmoke;outline:thin">
                                                </i>
                                            </a>
                                            <button type="submit" onclick="return confirm ('Delete Item');" class="btn btn-xs btn-danger">
                                                <i class="fa fa-trash">
                                                </i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>



<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Add New Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mb-2">
                <form method="POST" asp-controller="Processing" asp-action="Import" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="form-group input-file">
                            <label for="exampleInputFile">File input</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="postedFile" id="postedFile" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                    <input type="hidden" name="id" id="id" value=@ViewBag.Id />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}